.sidebar-item-text .bi-linkedin,
.sidebar-navigation .bi-linkedin {
    color: #0077b5 !important;
}

.sidebar-navigation a:hover .bi-linkedin {
    color: #00a0dc !important;
}

.sidebar-author span {
    color: #adb5bd !important;
}

#TOC {
    display: block !important;
    visibility: visible !important;
}

.sidebar-navigation {
    color: white !important;
}
